<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header class="header">
    <!-- menu de navegación, logos, redes, etc -->

    <a href="../barriobajero.html"><img class="logo" src="../assets/images/logopng.png" alt="" /></a>
    <div class="navegacion">
      <a href="../templates/catálogo.html" class="box">CATÁLOGO</a>
      <a href="contacto.html" class="box">CONTACTO</a>
      <a href="../templates/ofertas.html" class="box">OFERTAS</a>
    </div>
  </header>

  <main class="catalogo">
    <!-- contenido de la página -->

    <form>

      <h2>CONTACTO</h2>

      <div class="input-group">

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido">

        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" placeholder="Ingrese un número de telefono">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">

        <label for="consulta">Su consulta</label>
        <textarea name="consulta" id="consulta" placeholder="¿Cual es su consulta?"></textarea>

        <input class="enviar" type="submit" value="Enviar">

      </div>


    </form>


  </main>

  <footer>

    <div class="blog">

      <h4 class="acercade">Acerca de nosotros</h4>
      <p>
        En 2022 nació Barrio Bajero con un propósito claro: compartir la pasión por la moda vintage y vestir a la gente
        con un estilo único. Nuestro objetivo va más allá de vender ropa de segunda mano; buscamos inspirar la expresión
        personal y la individualidad en cada cliente. En nuestro espacio, cada prenda cuenta una historia y representa
        la esencia de su portador. Bienvenido a Barrio Bajero, donde la moda se encuentra con la autenticidad, y el
        estilo es sinónimo de identidad.
      </p>
      <img src="../assets/images/logo2png.png" alt="">



    </div>




  </footer>


</html>