<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header class="header">
    <!-- menu de navegación, logos, redes, etc -->

    <a href="../index.html"><img class="logo" src="../assets/images/logopng.png" alt="" /></a>
    <div class="navegacion">
      <a href="../templates/catálogo.html" class="box">CATÁLOGO</a>
      <a href="../templates/contacto.html" class="box">CONTACTO</a>
      <a href="../templates/ofertas.html" class="box">OFERTAS</a>
    </div>
  </header>


  <main class="main-productos">
    <!-- contenido de la página -->
    <div>
      <div>
        <h1 class="titulo-index">ROMPE NIKE</h1>
      </div>
      <div class="contenedor-productos">
        <div class="producto-html">
          <div class="flex-container">
            <img src="/assets/images/33.jpg" alt="">
            <div class="container-p">
              <p>Pantalón rompeviento Nike con cierre en los bolsillos y tela gruesa color negro.</p>
              <p>Medidas: 35cm cintura, 103cm largo, 21cm botamanga.</p>
              <p class="precio">$10.000</p>
            </div>


          </div>


        </div>


  </main>

  <footer>

    <div class="blog">

      <h4 class="acercade">Acerca de nosotros</h4>
      <p>
        En 2022 nació Barrio Bajero con un propósito claro: compartir la pasión por la moda vintage y vestir a la gente
        con un estilo único. Nuestro objetivo va más allá de vender ropa de segunda mano; buscamos inspirar la expresión
        personal y la individualidad en cada cliente. En nuestro espacio, cada prenda cuenta una historia y representa
        la esencia de su portador. Bienvenido a Barrio Bajero, donde la moda se encuentra con la autenticidad, y el
        estilo es sinónimo de identidad.
      </p>
      <img src="../assets/images/logo2png.png" alt="">



    </div>

</html>